@model TestGenerator.Core.ViewModels.TestsViewModel
@{
    ViewBag.Title = "Home Page";
}
<h1>@Model.Heading</h1>

<div class="table-responsive">
    <table class="table table-striped table-condensed table-hover">
        <tr>
            <th>
                Название теста
            </th>
            <th>
                
            </th>

        </tr>
        <tbody>
            @foreach (var test in Model.Tests)
            {
                <tr>

                    <td>
                        @test.Name
                    </td>
                    <td>
                        @test.Operator.NickName
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>